{% extends "base.html" %}

{% block title %}Log In | SolveHub{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <div class="auth-icon">
            <i data-lucide="log-in"></i>
        </div>

        <h1>Welcome back</h1>

        <p class="auth-subtitle">
            Log in to continue to SolveHub.
        </p>


        <form method="POST">

            <label for="username">
                Username
            </label>

            <input
                type="text"
                id="username"
                name="username"
                placeholder="Enter your username"
                required
            >


            <label for="password">
                Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter your password"
                required
            >


            <button type="submit" class="primary-button">
                Log In
            </button>

        </form>


        <p class="auth-footer">
            Don't have an account?
            <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        </p>

    </div>

</div>

{% endblock %}