{% extends "base.html" %}

{% block title %}{{ user.username }} | SolveHub{% endblock %}

{% block content %}

<div class="profile-container">

    <section class="profile-card">

        <img
            src="{{ url_for(
                'static',
                filename='uploads/avatars/' + user.profile_picture
            ) }}"
            class="profile-avatar"
            alt="Profile picture"
        >

        <h1>{{ user.username }}</h1>

        <p class="profile-description">
            SolveHub member
        </p>


        <form
            action="{{ url_for('profile.upload_picture') }}"
            method="POST"
            enctype="multipart/form-data"
            class="avatar-form"
        >

            <label for="profile_picture">
                Change profile picture
            </label>

            <input
                type="file"
                id="profile_picture"
                name="profile_picture"
                accept=".png,.jpg,.jpeg,.webp"
                required
            >

            <button type="submit" class="primary-button">
                Upload Picture
            </button>

        </form>

    </section>

</div>

{% endblock %}